<%inherit file="homepage/templates/base.htm" />


<%block name="headerContent">
</%block>

<%block name="content">
                       
<div class="container text-center" style="margin-top: -40px;">
    <h2>Edit Profile:</h2>
    <div class="row justify-content-center">
        <!-- col.// -->
        <aside class="col-md-6 ">
            <div class="card">
                <article class="card-body">
                    ${form}
                </article>
            </div>
            <!-- card.// -->
        </aside>
    </div>
    <!-- row.// -->
</div>
<!--container end.//-->


</%block>
