[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
django-mako-plus = "*"
python-decouple = "*"
requests = "*"
xmltodict = "*"
social-auth-app-django = "*"
sendgrid = "*"
sendgrid-django = "*"

[requires]

python_version = "3.6"
