li {
    float: left;
}

li img{
    max-height: 50px;
}


li h4, h5, img {
    display: inline-block;
}

.titleDiv{
    margin-left: 20px;
    display: inline-block;
    max-width: 450px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}