<%inherit file="homepage/templates/base.htm" />

<%block name="headerContent">
    <h1 id="groupGreeting" data-group="${group.id}">Welcome ${group.name}</h1>
</%block>

<%block name="content">
    
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="card text-center" style="margin-left: 20px; margin-right: 20px; width: 430px;">
                    <div class="card-header">
                        Currently Reading
                    </div>
                    %if group.currentBook:
                        <div class="card-body">
                            <h5 class="card-title">${currentBook.title}</h5>
                            <div class="bookImage">
                                <img src="${currentBook.image}">
                            </div>
                            <div class="ratingInfo" class="text-center">
                                %if currentBook.avgRating:
                                    <h6 class="ratingText">Goodreads Rating - ${currentBook.avgRating}/5.0</h6>
                                %endif
                                %if currentBook.pageCount:
                                    <h6 class="pageText">Page Count - ${currentBook.pageCount}</h6>
                                %endif
                            </div>
                            <%! from datetime import datetime, timezone, date %>
                            %if (group.currentBookDeadline - date.today()).days < 0:
                                <h6>Finished Reading on ${group.currentBookDeadline}</h6>
                            %else:
                                <h6 style="margin: 5px;">Due: ${(group.currentBookDeadline - date.today()).days} days</h6>
                            %endif
                        </div>
                    %else:
                        <div class="card-body">
                            <h3>Sorry no book has been selected for this group yet.</h3>
                        </div>
                    %endif
                </div>
                <div id="memberStuff">
                    <div class="card text-center" style="margin-top: 35px; margin-left: 20px; margin-right: 20px; width: 430px;">
                        <div class="card-header text-left">
                            <div style="display: inline-block;">
                                ${group.name} members:
                            </div>
                            <div style="display: inline-block; float: right;">
                                %if request.user in group.admin_users.all():
                                    <button class="btn btn-success" data-toggle="modal" data-target="#newAdminModal" style="font-size: 12px;">Add Admin</button>
                                %endif
                            </div>
                        </div>
                        <div id="groupMembers">
                            <ul class="list-group list-group-flush text-left">
                                <%! from datetime import datetime, timezone %>
                                %for u in group.users.all():
                                    <li class="list-group-item">
                                        <div>
                                            <p style="display: inline-block;">${u.first_name} ${u.last_name} - ${u.username}</p>
                                            <div style="float: right;">
                                                %if u.last_active:
                                                    %if ((datetime.now(timezone.utc) - u.last_active).seconds//60)%60 == 0:
                                                        <p style="display: inline-block; font-size:12px; color:darkred;">Last Active: now</p>
                                                    %elif (datetime.now(timezone.utc) - u.last_active).days == 0:
                                                        %if (datetime.now(timezone.utc) - u.last_active).seconds/3600 >= 1:
                                                            <p style="display: inline-block; font-size:12px; color:darkred;">Last Active: ${round(((datetime.now(timezone.utc) - u.last_active).seconds/3600))} hours</p>
                                                        %else:
                                                            <p style="display: inline-block; font-size:12px; color:darkred;">Last Active: ${((datetime.now(timezone.utc) - u.last_active).seconds//60)%60} minutes</p>
                                                        %endif
                                                    %else:
                                                        <p style="display: inline-block; font-size:12px; color:darkred;">Last Active: ${(datetime.now(timezone.utc) - u.last_active).days} days</p>
                                                    %endif
                                                %endif
                                                %if request.user in group.admin_users.all():
                                                    %if u != request.user:
                                                        <button class="btn btn-danger" data-toggle="tooltip" data-html="true" title="<em>Remove User</em>" data-user="${u.id}" id="removeUserBtn" style="font-size: 12px; margin-left: 5px;">x</button>
                                                    %endif
                                                %endif
                                            </div>
                                        </div>
                                    </li>
                                %endfor
                            </ul>
                        </div>
                    </div>
                    %if group.pendingApprovals.all():
                        <div class="card text-center" style="margin-top: 35px; margin-left: 20px; margin-right: 20px; width: 430px;">
                            <div class="card-header">
                                Member requests:
                            </div>
                            <div id="memberRequests">
                                <ul class="list-group list-group-flush text-left">
                                    %for u in group.pendingApprovals.all():
                                        <li class="list-group-item">
                                            <div>
                                                <p style="display: inline-block;">${u.first_name} ${u.last_name} - ${u.username}</p>
                                                <button id="acceptBtn" class="btn btn-success" data-user="${u.id}" data-id="accept" style="display: inline-block; font-size: 12px; margin-left: 5px;">Accept</button>
                                                <button id="rejectBtn" class="btn btn-danger" data-user="${u.id}" data-id="reject" style="display: inline-block; font-size: 12px;">Reject</button>
                                            </div>
                                        </li>
                                    %endfor
                                </ul>
                            </div>
                        </div>
                    %endif
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="text-center" style="margin-left: 20px; margin-right: 20px;">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Your book has been added to the list!
                    </div>
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Something went wrong please try adding your book again.
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="search" id="search" placeholder="Add Book to Voting List" onkeyup="bookSearch();" style="width: 250px;">
                        <button id="searchBtn" class="btn btn-primary" onclick="bookSearch();" style="margin-bottom: 2px;">Search</button>
                    </div>
                    <div id="resultsDiv" class="text-left" style="margin-bottom: 30px; display: none;">
                        <ul class="list-group" id="searchResults">
                            <li>
                                <p>Results...</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center" style="margin-left: 20px; margin-right: 20px; width: 430px;">
                    <div class="card-header">
                        Vote Here:
                    </div>
                    <div class="card-body" id="bookStuff">
                        %if bookList:
                            <h5 class="card-title">${bookList[0].title}</h5>
                            <div class="bookImage">
                                <img src="${bookList[0].image}">
                            </div>
                            <div class="ratingInfo" class="text-center">
                                %if bookList[0].avgRating:
                                    <h6 class="ratingText">Goodreads Rating - ${bookList[0].avgRating}/5.0</h6>
                                %endif
                                %if bookList[0].pageCount:
                                    <h6 class="pageText">Page Count - ${bookList[0].pageCount}</h6>
                                %endif
                            </div>
                            <div id="bookDesc">
                                %if bookList[0].description:
                                    <p class="card-text" style="margin-top: 10px;">${bookList[0].description}</p>
                                %else:
                                    <p>Sorry no description available at this time.</p>
                                %endif
                            </div>
                            <a href="" class="btn btn-primary" id="upVote" data-id="${bookList[0].id}" style="margin-right: 20px;"><i class="fa fa-thumbs-up" style="font-size: 24px;"></i></a>
                            <a href="" class="btn btn-danger" id="downVote" data-id="${bookList[0].id}" style="margin-left: 20px;"><i class="fa fa-thumbs-down" style="font-size: 24px;"></i></a>
                            <div class="text-right">
                                <a target="_blank" href="https://www.goodreads.com/book/isbn/${bookList[0].isbn}" >View on Goodreads</a>
                            </div>
                            
                        %else:
                            <h5 class="card-title">Sorry!</h5>
                            <p class="card-text">You have voted on all the available books. Feel free to add more to the voting list.</p>
                        %endif
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="newAdminModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Select a New Admin User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="search text-center">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search group members.." title="Type in a tag">
                    <input title="Search" value="" type="submit" class="searchbutton">
                </div>
                <div id="gridContainer">
                    %for u in group.users.all():
                        %if u not in group.admin_users.all():    
                            <div class="form-check text-left">
                                <input class="form-check-input" type="radio" name="userListBtn" id="${u.username}" value="${u.id}">
                                <label class="form-check-label" for="${u.username}">
                                    ${u.first_name} ${u.last_name} - ${u.username} 
                                </label>
                            </div>
                        %endif
                    %endfor
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addAdminBtn" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</%block>