<%inherit file="homepage/templates/base.htm" />

<%block name="headerContent">
    <h1>Add a Book and Vote!</h1>
</%block>

<%block name="content">
    
    <div class="row">
        <div class="col-md-6">
            <div style="margin-left: 100px;">
                <div class="text-center">
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Your book has been added to the list!
                        </div>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Something went wrong please try adding your book again.
                        </div>
                    <input type="search" id="search" placeholder="Title or Author" onkeyup="bookSearch();">
                    <button id="searchBtn" class="btn btn-primary" onclick="bookSearch();">Search</button>
                    <div id="resultsDiv" class="text-left">
                        <ul class="list-group" id="searchResults">
                            <li>
                                <p>Results...</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-6">
            <div class="card w-75 text-center">
                <div class="card-header">
                    Vote Here:
                </div>
                <div class="card-body" id="bookStuff">
                    %if bookList:
                        <h5 class="card-title">${bookList[0].title}</h5>
                        <div id="bookImage">
                            <img src="${bookList[0].image}">
                        </div>
                        <div id="ratingInfo" class="text-center">
                            <h6 id="ratingText">Avg Rating - ${bookList[0].avgRating}/5.0</h6>
                            <h6 id="pageText">Page Count - ${bookList[0].pageCount}</h6>
                        </div>
                        <div id="bookDesc">
                            <p class="card-text" style="margin-top: 10px;">${bookList[0].description}</p>
                        </div>
                        <a href="" class="btn btn-primary" id="upVote" data-id="${bookList[0].id}" style="margin-right: 20px;"><i class="fa fa-thumbs-up" style="font-size: 24px;"></i></a>
                        <a href="" class="btn btn-danger" id="downVote" data-id="${bookList[0].id}" style="margin-left: 20px;"><i class="fa fa-thumbs-down" style="font-size: 24px;"></i></a>
                    %else:
                        <h5 class="card-title">Sorry!</h5>
                        <p class="card-text">You have voted on all the available books. Feel free to add more to the voting list.</p>
                    %endif
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</%block>