<%inherit file="homepage/templates/base.htm" />

<%block name="headerContent">

</%block>

<%block name="content">
        <div class="card w-50 text-center" style="left: 25%; margin-top: -70px;">
            <div class="card-body">
                <h3 class="card-title">Top Voted Book</h3>
                <h5>${bookList[0].title}</h5>
                <div>
                    <img src="${bookList[0].image}">
                </div>
                <div style="margin-top: 10px;">
                    <a><i class="fa fa-thumbs-up" style="font-size: 24px;"></i></a> - ${bookList[0].upVotes.count()}
                    <a><i class="fa fa-thumbs-down" style="font-size: 24px;"></i></a> - ${bookList[0].downVotes.count()}
                </div>
            </div>
            <div class="text-left">
                <ul class="list-group list-group-flush" style="border-top: 1px solid rgba(0,0,0,.125); ">
                    %for b in bookList[1:]:
                    <li class="list-group-item list-group-item"> 
                        <img src="${b.image}">
                        <div class="titleDiv align-middle"> 
                            <p>${b.title} - ${b.author}</p> 
                        </div>
                        <div class="text-right" style="display: inline-block; float: right;">
                            <a><i class="fa fa-thumbs-up" style="font-size: 20px;"></i></a> - ${b.upVotes.count()}
                            <a><i class="fa fa-thumbs-down" style="font-size: 20px;"></i></a> - ${b.downVotes.count()}
                        </div>
                    </li>
                    %endfor
                </ul>
            </div>
        </div>
</%block>
