<%inherit file="homepage/templates/base.htm" />


<%block name="headerContent">
<div></div>
</%block>

<%block name="content">
                       
<div class="container">
    <div class="row justify-content-center">

        <!-- col.// -->
        <aside class="col-md-4 col-sm-6 ">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Forgot Password</h4>
                    %if verifiedToken:
                        <div>
                            ${form}
                        </div>
                    %else:
                        <p>${message}</p>
                    %endif
                </article>
            </div>
            <!-- card.// -->
        </aside>
    </div>
    <!-- row.// -->
</div>
<!--container end.//-->


</%block>
