<%inherit file="homepage/templates/base.htm" />


<%block name="headerContent">
<div></div>
</%block>

<%block name="content">
                       
<div class="container">
    <div class="row justify-content-center">
        <h4>An account already exist with the same email. If you would like to link your social account please login.</h4>
        <!-- col.// -->
        <aside class="col-md-6 col-sm-6 ">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1 text-center">Merge Accounts</h4>
                    ${form}
                </article>
            </div>
            <!-- card.// -->
        </aside>
    </div>
    <!-- row.// -->
</div>
<!--container end.//-->

</%block>
